.form__error {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bebdbd;
  border-radius: 5px;
  width: inherit;
}

.form__error-title {
  border-bottom: 1px solid black;
  background: #bebdbd;
  padding: 5px;
}

.form__error-message {
  padding: 5px;
}

.form__error::before,
.form__error::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 100%;
  border: 5px solid transparent;
  border-top: 5px solid #bebdbd;
}

.form__error::after {
  border-top: 4px solid white;
  top: 98%;
}
